extends ../layout
include ../user/card
block content
  .container.m-t-2
    .row
      .col-md-8
        .card
          .card-header
            h3 Choose a password
          form.card-block.p-x-3(method="post")
            .form-group.row
              label.col-xs-3.col-form-label Password:
              input.form-control.col-xs-9#password(type="password" pattern=".{4,16}" required title="4 to 16 characters" name="password")
            .form-group.row
              label.col-xs-3.col-form-label Repeat Password:
              input.form-control.col-xs-9#confirm_password(type="password" pattern=".{4,16}" required title="4 to 16 characters" name="confirm_password")
            button.btn.btn-primary(type="submit") Save
      .col-md-4
        +user-card

