form.card(action="/user/settings/guild/private", method="post")
  .card-header
    h4 Private Information
  .card-block
    .card-text
      p.text-muted 
        span.fa.fa-info.fa-fw
        | Only your guild members can see this information
    .form-group
      textarea.form-control(
        name="private.text", 
        rows="7"
        placeholder="Private information that anybody can see. Usually it is a quick description of your guild and members...")
          =data.guild.private.text
    button.btn.btn-primary(type="submit") Save
