extends layout

block links
  link(rel='stylesheet', href='http://localhost:8080/assets/css/app.css')

block content
  .container.m-t-2
    #app

block scripts
  script(src='http://localhost:8080/assets/app.js')

